# GoAT: Go ASCII Tool

## What **GoAT** Can Do For You

* From a chunky ASCII-art source drawing, render a pretty SVG output [file](#complicated),
  with the [goat](./cmd/goat) CLI command.

* Build publication-ready illustrated documentation, in Markdown, directly
  from comments in Go source code.
  The shell command [goatdoc](./cmd/goatdoc) reformats the output of ```go doc -all``` into Github-flavored Markdown, and any embedded goat-format drawings are processed into SVG for inclusion within the Markdown.

## You Will Also Need

#### Graphical- or Rectangle-oriented text editing capability
Both **vim** and **emacs** offer useful support.
In Emacs, see the built-in rectangle-editing commands, and ```picture-mode```.

#### A fixed-pitch font with 2:1 height:width ratio as presented by your editor and terminal emulator
Most fixed-pitch or "monospace" Unicode fonts maintain a 2:1 aspect ratio for
characters in the ASCII range,
and all GoAT drawing characters are ASCII.
However, certain Unicode graphical characters e.g. MIDDLE DOT may be useful, and
conform to the width of the ASCII range.

CJK characters on the other hand are typically wider than 2:1.
Non-standard width characters are not in general composable on the left-right axis within a plain-text
drawing, because the remainder of the line of text to their right is pushed out of alignment
with rows above and below.

## The GoAT Library [API]({{.Root}}/API.html)

The core engine of ```goat``` is accessible as a Go library package, for inclusion in specialized
code of your own.
The [API documentation]({{.Root}}/API.html) also showcases use of ```goatdoc``` to generate illustrated Markdown directly from Go inline comments.

The code implements a subset, and some extensions, of the ASCII diagram generation function of the browser-side Javascript in [Markdeep](http://casual-effects.com/markdeep/).

## Project Tenets

1. Utility and ease of integration into existing projects are paramount.
2. Compatibility with MarkDeep desired, but not required.
3. TXT and SVG intelligibility are co-equal in priority.
4. Composability of TXT not to be sacrificed -- only width-8 characters allowed.
5. Per-platform support limited to a single widely-available fixed-pitch TXT font. 

## TODO

- Dashed lines signaled by `:` or `=`
- Bold lines signaled by ???

## Examples

Here are some snippets of 
GoAT-formatted UTF-8
and the SVG each can generate.
The SVG you see below was linked to by
inline Markdown image references
([howto](https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax#images),
[spec](https://github.github.com/gfm/#images)) from
GoAT's [README.md](README.md), then finally rendered to HTML ```<img>``` elements by Github's Markdown processor


### Trees
```
{{.trees_txt}}
```
![]({{.Root}}/examples/trees.svg)

### Overlaps
```
{{.overlaps_txt}}
```
![]({{.Root}}/examples/overlaps.svg)

### Line Decorations
```
{{.line_decorations_txt}}
```
![]({{.Root}}/examples/line-decorations.svg)

### Line Ends
```
{{.line_ends_txt}}
```
![]({{.Root}}/examples/line-ends.svg)

### Dot Grids
```
{{.dot_grids_txt}}
```
Note that '·' above is not ASCII, but rather Unicode, the MIDDLE DOT character, encoded with UTF-8.
![]({{.Root}}/examples/dot-grids.svg)

### Large Nodes
```
{{.large_nodes_txt}}
```
![]({{.Root}}/examples/large-nodes.svg)

### Small Grids
![]({{.Root}}/examples/small-grids.svg)
```
{{.small_grids_txt}}
```

### Big Grids
```
{{.big_grids_txt}}
```
![]({{.Root}}/examples/big-grids.svg)

### Complicated
```
{{.complicated_txt}}
```
![]({{.Root}}/examples/complicated.svg))

### More examples [here](examples)

[@bep]: https://github.com/bep/goat/
[@dmacvicar]: https://github.com/dmacvicar/goat
[@sw46]: https://github.com/sw46/goat/
[SVG]: https://en.wikipedia.org/wiki/Scalable_Vector_Graphics
[markdeep.mini.js]: http://casual-effects.com/markdeep/
[v0.93.0]: https://github.com/gohugoio/hugo/releases/tag/v0.93.0
